.fixedPricingSection {
  padding: 40px 0;
}

.sectionTitle {
  text-align: center;
  color: #2d2355;
  line-height: 37.5px;
  font-size: 25px;
  font-weight: 300;
}

.contentContainer {
  display: flex;
  gap: 30px;

  img {
    max-height: 293.23px;
  }
}

.textBlock {
  max-width: 585px;
  p {
    color: #2d2355;
    font-size: 16px;
    margin-bottom: 26px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
